{% extends "layouts/base.html" %}{% block content %}{% load static %}

<div class="flex justify-end mt-20">
  <a href="{% url 'goods_receipts:GRnew' %}" class="btn bg-orange-600 text-white"
    >Add</a
  >
</div>
<div class="divider text-3xl font-bold">Goods Receipts</div>
<div class="flex justify-center mt-10">
    <div class="overflow-x-auto">
        <table class="table table-xl text-center">
            <thead>
                <tr class="text-xl">
                    <th>
                        <form action="{% url 'goods_receipts:GRindex' %}" method="GET">
                            <select
                                class="select select-bordered select-sm w-25 max-w-xs md:w-auto"
                                name="select"
                            >
                                <option disabled>Select</option>
                                <option value="All" {% if selected_state == "All" %}selected{% endif %}>All</option>
                                <option value="finished" {% if selected_state == "finished" %}selected{% endif %}>Finished</option>
                                <option value="unfinish" {% if selected_state == "unfinish" %}selected{% endif %}>Unfinish</option>
                            </select>

                            <button type="submit" class="btn btn-square btn-sm">
                              <svg
                                class="w-5 h-5"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                              >
                                <path
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                                />
                              </svg>
                            </button>
                        </form>
                    </th>
                    <th><a href="{% url 'goods_receipts:GRindex' %}?sort=receipt_number&select={{ selected_state }}&desc={{ is_desc }}">Receipt Number{% if order_by == 'receipt_number' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:GRindex' %}?sort=supplier&select={{ selected_state }}&desc={{ is_desc }}">Supplier{% if order_by == 'supplier' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:GRindex' %}?sort=goods_name&select={{ selected_state }}&desc={{ is_desc }}">Goods Name{% if order_by == 'goods_name' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:GRindex' %}?sort=quantity&select={{ selected_state }}&desc={{ is_desc }}">Quantity{% if order_by == 'quantity' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:GRindex' %}?sort=method&select={{ selected_state }}&desc={{ is_desc }}">Delivery Method{% if order_by == 'method' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:GRindex' %}?sort=date&select={{ selected_state }}&desc={{ is_desc }}">Date{% if order_by == 'date' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:GRindex' %}?sort=note&select={{ selected_state }}&desc={{ is_desc }}">Note{% if order_by == 'note' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th>Operate</th>
                </tr>
            </thead>
            <tbody>
                {% for goods_receipt in goods_receipts %}
                <tr onclick="window.location.href='{% url 'goods_receipts:GRshow' goods_receipt.id %}'" class="hover">
                  {% if goods_receipt.state == "finish" %}
                  <th>
                    <span class="btn btn-sm btn-success text-lg">{{ goods_receipt.state }}</span>
                  </th>
                  {% elif goods_receipt.state == "unfinish" %}
                  <th>
                    <span class="btn btn-sm btn-error text-lg">{{ goods_receipt.state }}</span>
                  </th>
                  {% endif %}
                    <th>{{goods_receipt.receipt_number}}</th>
                    <th>{{goods_receipt.supplier}}</th>
                    <th>{{goods_receipt.goods_name}}</th>
                    <th>{{goods_receipt.quantity}}</th>
                    <th>{{goods_receipt.method}}</th>
                    <th>{{goods_receipt.date|date:"Y-m-d"}}</th>
                    <th>{{goods_receipt.note}}</th>
                    <th>
                        <div class="flex justify-center">
                            <div class="flex gap-2">
                                <a href="{% url 'goods_receipts:GRedit' goods_receipt.id %}" class="btn btn-primary">Edit</a>
                                <a onclick="return confirm('Delete?')" href="{% url 'goods_receipts:GRdelete' goods_receipt.id %}" class="btn btn-error">Delete</a>
                            </div>
                        </div>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}