{% extends "layouts/base.html" %} {% block content %} {% load static %}

<form
  method="POST"
  action="{% url 'sales_orders:edit' sales_orders.id %}"
  class="text-lg m-4"
>
  {% csrf_token %} {% for field in form %}
  <div class="form-control">
    <label class="label" for="{{ field.name }}">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}
      <ul class="errorlist text-red-500 text-sm mt-2">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endfor %}
  <div class="flex justify-center mt-5 gap-4">
    <div>
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
    <div>
      <a href="{% url 'sales_orders:index' %}" class="btn btn-warning btn-lg"
        >Cancel</a
      >
    </div>
  </div>
</form>
{% endblock %}
