{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TradeHub</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <script src="{% static 'scripts/app.js' %}" type="module"></script>
  </head>
  <body>
    <div class="container mx-auto">
      {% include "shared/navbar.html" %} {%block content %} {% endblock %}
    </div>
  </body>
</html>
