{% extends "layouts/base.html" %} {% block content %}
<div class="flex justify-end mt-12"></div>
<div class="divider text-3xl font-bold mt-30">Import File</div>
<div class="flex justify-center text-center mt-6">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex justify-end mt-8"></div>
    <div class="pl-100 flex">{{ form.as_p }}</div>
    <div class="text-center">
      <button
        type="submit"
        class="btn bg-orange-600 text-white justify-center text-center mt-20"
      >
        Upload File
      </button>
    </div>
  </form>
</div>
{% endblock %}
