{% extends "layouts/base.html" %} {% block content %}
<div class="flex justify-end mt-12">
  <a href="{% url 'clients:new' %}" class="btn bg-orange-600 text-white"
    >Create</a
  >
  <a href="{% url 'clients:import_file' %}" class="btn bg-orange-600 text-white"
    >Import file</a
  >
  <a href="{% url 'clients:export_csv' %}" class="btn bg-orange-600 text-white">Export CSV</a>
  <a href="{% url 'clients:export_excel' %}" class="btn bg-orange-600 text-white">Export Excel</a>
</div>
<div class="divider text-3xl font-bold">Clients</div>
<div class="flex justify-center mt-10">
  <div class="overflow-x-auto">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th>
            <form action="{% url 'clients:index' %}" method="GET">
              <select
                class="select select-bordered select-sm w-25 max-w-xs md:w-auto"
                name="select"
              >
                <option disabled>Select</option>
                <option value="all" {% if selected_state == "all" %}selected{% endif %}>All</option>
                <option value="often" {% if selected_state == "often" %}selected{% endif %}>Often</option>
                <option value="haply" {% if selected_state == "haply" %}selected{% endif %}>Haply</option>
                <option value="never" {% if selected_state == "never" %}selected{% endif %}>Never</option>
              </select>
              <input type="hidden" name="page" value="{{ page_obj.number }}">
              <button type="submit" class="btn btn-square btn-sm">
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                  />
                </svg>
              </button>
            </form>
          </th>
          <th><a href="{% url 'clients:index' %}?sort=id&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">ID{% if order_by == 'id' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th><a href="{% url 'clients:index' %}?sort=name&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Client Name{% if order_by == 'name' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th><a href="{% url 'clients:index' %}?sort=phone_number&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Phone Number{% if order_by == 'phone_number' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th><a href="{% url 'clients:index' %}?sort=address&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Address{% if order_by == 'address' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th><a href="{% url 'clients:index' %}?sort=email&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Email{% if order_by == 'email' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th><a href="{% url 'clients:index' %}?sort=note&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Note{% if order_by == 'note' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th><a href="{% url 'clients:index' %}?sort=create_at&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Create At{% if order_by == 'create_at' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th>Operate</th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
        <tr class="hover">
          {% if client.state == "often" %}
          <th>
            <span class="btn btn-sm btn-success text-lg">{{ client.state }}</span>
          </th>
          {% elif client.state == "haply" %}
          <th>
            <span class="btn btn-sm btn-warning text-lg">{{ client.state }}</span>
          </th>
          {% else %}
          <th>
            <span class="btn btn-sm btn-error text-lg">{{ client.state }}</span>
          </th>
          {% endif %}
          </th>
          <th>{{ client.id }}</th>
          <td>{{ client.name }}</td>
          <td>{{ client.phone_number }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.note }}</td>

          <td>{{ client.create_at|date:"Y-m-d H:i" }}</td>
          <td class="flex justify-center gap-2">
            <a class="btn btn-primary" href="{% url 'clients:edit' client.id %}">Edit</a>
            <form
              action="{% url 'clients:edit' client.id %}"
              method="post"
              onsubmit="return confirm('Are you sure Delete it?')"
            >
              {% csrf_token %}
              <button class="btn btn-error" name="delete">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination join flex justify-center">
      <span class="step-links">

        <a href="?page=1{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn">Page 1</button></a
        >
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn" >«</button></a
        >
        {% else %}
        <button class="join-item btn" disabled="disabled">«</button>
        {% endif %}
        <button class="join-item btn">
          Page {{ page_obj.number }}
        </button>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn">»</button></a
        >
        {% else %}
        <button class="join-item btn" disabled="disabled">»</button>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn">Page {{ page_obj.paginator.num_pages }}</button></a
        >
      </span>
    </div>
  </div>
</div>
{% endblock %}