{% extends "layouts/base.html" %} 
{% block content %}

<div class="flex justify-center mt-10">
  <div class="overflow-x-auto">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th>ID</th>
          <th>Client Name</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Email</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
        <tr class="hover">
          <th>{{ client.id }}</th>
          <td>{{ client.name }}</td>
          <td>{{ client.phone_number }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.note }}</td>
          <td>
            <a href="{% url 'clients:edit' client.id %}">Edit</a>
          </td>
          <td>
            <form
              action="{% url 'clients:edit' client.id %}"
              method="post"
              onsubmit="return confirm('Are you sure Delete it?')"
            >
              {% csrf_token %}
              <button name="delete">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
        <tr class="hover">
          <form action="{% url 'clients:list' %}" method="post">
            {% csrf_token %}
            <th>ID Auto gen</th>
            <td>{{form.name}}</td>
            <td>{{form.phone_number}}</td>
            <td>{{form.address}}</td>
            <td>{{form.email}}</td>
            <td>{{form.note}}</td>
            <td>
              <button>Create</button>
            </td>
          </form>
        </tr>
        <tr class="hover">
          <th></th>
          {% for field in form %}
          <td>
            {% if field.errors %}
              <ul class="errorlist text-red-500 text-sm mt-2">
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
            {% endif %}
          </td>
          {% endfor %}
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
