{% extends "layouts/base.html" %}
{% block content %} {% load static %}
<div class="flex flex-col mx-auto w-full justify-center">
  <div class="w-full flex flex-row justify-between mt-6 w-full">
    <div class="divider text-3xl sm:text-4xl font-bold">庫存列表</div>
    <div class="flex flex-row gap-2 justify-end mr-4">
      <div class="dropdown dropdown-bottom dropdown-end">
        <div x-data tabindex="0" role="button" class="btn btn-success text-xl text-white">檔案</div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow gap-2">
          <button class="btn bg-orange-500 text-xl text-white py-3 rounded-md hover:bg-orange-600 transition font-bold" onclick="my_modal_1.showModal()">匯入檔案</button>
          <button class="btn bg-yellow-500 text-xl text-white py-3 rounded-md hover:bg-yellow-600 transition text-center font-bold" onclick="my_modal_2.showModal()">匯出檔案</button>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center mt-14">
  <div class="overflow w-full">
    <table class="table table-sm text-center text-nowrap sm:table-lg">
      <thead>
        <tr class="text-lg sm:text-xl">
          <th class="w-1/3 sm:w-1/6">
            <form action="{% url 'inventory:index' %}" method="GET">
              <select
                class="select select-bordered select-sm w-25 max-w-xs md:w-auto"
                name="select"
              >
                <option disabled>請選擇</option>
                <option value="All" {% if selected_state == "All" %}selected{% endif %}>全部</option>
                <option value="normal" {% if selected_state == "normal" %}selected{% endif %}>正常</option>
                <option value="low_stock" {% if selected_state == "low_stock" %}selected{% endif %}>低庫存</option>
                <option value="out_stock" {% if selected_state == "out_stock" %}selected{% endif %}>缺貨</option>
              </select>
              <input type="hidden" name="page" value="{{ page_obj.number }}">
              <button type="submit" class="btn btn-square btn-sm">
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                  />
                </svg>
              </button>
            </form>
          </th>
          <th class="w-1/3 sm:w-1/6"><a href="{% url 'inventory:index' %}?sort=number&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">庫存編號{% if order_by == 'product' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th class="hidden sm:table-cell sm:w-1/6"><a href="{% url 'inventory:index' %}?sort=product&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">名稱{% if order_by == 'product' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th class="hidden sm:table-cell sm:w-1/6"><a href="{% url 'inventory:index' %}?sort=quantity&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">現有庫存數量{% if order_by == 'quantity' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th class="hidden sm:table-cell sm:w-1/6"><a href="{% url 'inventory:index' %}?sort=safety_stock&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">安全庫存數量{% if order_by == 'safety_stock' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th class="hidden sm:table-cell sm:w-1/6"><a href="{% url 'inventory:index' %}?sort=last_updated&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">最後更新時間{% if order_by == 'last_updated' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th class="w-1/3 sm:w-1/6"></th>
        </tr>
      </thead>
      {% for item in inventory %}
      <tbody>
        <tr onclick="window.location.href='{% url 'inventory:show' item.id %}'" class="hover cursor-pointer">
          {% if item.state == "normal" %}
          <th class="w-1/3 sm:w-1/6">
            <span class="btn btn-sm btn-success text-white text-lg">正常</span>
          </th>
          {% elif item.state == "low_stock" %}
          <th class="w-1/3 sm:w-1/6">
            <span class="btn btn-sm btn-warning text-white text-lg">低庫存</span>
          </th>
          {% elif item.state == "out_stock" %}
          <th class="w-1/3 sm:w-1/6">
            <span class="btn btn-sm btn-error text-white text-lg">缺貨</span>
          </th>
          {% endif %}
          <td class="text-lg font-bold w-1/3 sm:w-1/6 sm:text-xl">{{ item.number }}</td>
          <td class="text-lg font-bold hidden sm:table-cell sm:w-1/6 sm:text-xl">{{ item.product }}</td>
          <td class="text-lg font-bold hidden sm:table-cell sm:w-1/6 sm:text-xl">{{ item.quantity }}</td>
          <td class="text-lg font-bold hidden sm:table-cell sm:w-1/6 sm:text-xl">{{ item.safety_stock }}</td>
          <td class="text-lg font-bold hidden sm:table-cell sm:w-1/6 sm:text-xl">{{ item.last_updated|date:"Y-m-d H:i" }}</td>
          <td class="w-1/3 sm:w-1/6">
            <div class="dropdown dropdown-left">
              <div x-data tabindex="0" role="button" class="btn btn-sm btn-success text-white text-lg m-1 w-20" @click.stop>操作</div>
              <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-28 p-2 shadow gap-2">
                <li><a href="{% url 'inventory:edit' item.id %}" class="btn btn-sm btn-primary text-white text-lg">編輯</a></li>
                <!-- <li>
                  <a onclick="return confirm('確認刪除?')" href="{% url 'inventory:delete' item.id %}" class="btn btn-error text-white text-lg">
                    刪除
                  </a>
                </li> -->
              </ul>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination join flex justify-center mt-10">
      <span class="step-links">
        <a href="?page=1{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn">第1頁</button></a
        >
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn" >«</button></a
        >
        {% else %}
        <button class="join-item btn" disabled="disabled">«</button>
        {% endif %}
        <button class="join-item btn">
          第{{ page_obj.number }}頁
        </button>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn">»</button></a
        >
        {% else %}
        <button class="join-item btn" disabled="disabled">»</button>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn">第{{ page_obj.paginator.num_pages }}頁</button></a
        >
      </span>
    </div>
    {% endif %}
  </div>
</div>
{% url 'inventory:export_sample' as urlExmportSample %}
{% url 'inventory:import_file' as import_file_url %}
{% url 'inventory:export_excel' as export_excel_url %}

{% include "shared/import_export.html" with urlExmportSample=urlExmportSample urlImport=import_file_url urlCSV=export_csv_url urlExcel=export_excel_url %}
{% endblock %}
