{% extends "layouts/base.html" %} {% block content %} {% load static %}

<div class="flex justify-center mt-32">
  <div class="overflow-x-auto w-full">
    {% for error in form.non_field_errors %}
    <div class="text-red-500">{{ error }}</div>
{% endfor %}
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th></th>
          <th>Product</th>
          <th>Supplier</th>
          <th>Quantity</th>
          <th>Safety Stock</th>
          <th>Note</th>
          <th>Operate</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover">
          <form
            class="text-center"
            method="POST"
            action="{% url 'inventory:new' %}"
          >
            {% csrf_token %}
            <th class="text-xl">Create<br />Inventory</th>
            <td>{{ form.product }}</td>
            <td>{{ form.supplier }}</td>
            <td>{{ form.quantity }}</td>
            <td>{{ form.safety_stock }}</td>
            <td>{{ form.note }}</td>
            <td>
              <button type="submit" class="btn bg-orange-600 text-white">
                Add
              </button>
            </td>
          </form>
        </tr>
        <tr class="hover">
          <th class="text-xl"></th>
          <td>
            {% for error in form.product.errors %}
              <span class="text-red-500">{{ error }}</span>
            {% endfor %}
          </td>
          <td>
            {% for error in form.supplier.errors %}
              <span class="text-red-500">{{ error }}</span>
            {% endfor %}
          </td>
          <td>
            {% for error in form.quantity.errors %}
              <span class="text-red-500">{{ error }}</span>
            {% endfor %}
          </td>
          <td>
            {% for error in form.safety_stock.errors %}
              <span class="text-red-500">{{ error }}</span>
            {% endfor %}
          </td>
          <td>
            {% for error in form.note.errors %}
              <span class="text-red-500">{{ error }}</span>
            {% endfor %}
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
