<div id="notification-list" class="">
  <h3 class="text-lg font-bold">通知</h3>
  <ul>
      {% for notification in notifications %}
        <li class="notification-item hover:bg-gray-200 w-full rounded-md p-2">
          {% if notification.sender_type == 'PurchaseOrder' %}
            {% if notification.sender_state == 'pending' %}
              <a href="{% url 'purchase_orders:index' %}?select=pending" class="cursor-pointer">
            {% elif notification.sender_state == 'progress' %}
              <a href="{% url 'purchase_orders:index' %}?select=progress" class="cursor-pointer">
            {% endif %}
          {% endif %}
            <div class="flex justify-between text-sm">
              <p>{{ notification.created_at|date:"y/m/d H:i" }}</p>
              {% if not notification.is_read %}
                <span class="text-red-500">(未讀)</span>
              {% endif %}
            </div>
            <div class="flex flex-col font-bold text-sm">
              <p>{{ notification.message }}</p>
            </div>
          </a>
        </li>
      {% empty %}
        <li>沒有通知</li>
      {% endfor %}
  </ul>
</div>
