<div id="notification-list" class="flex flex-col max-h-96 overflow-y-auto">
  <h3 class="text-lg font-bold">通知</h3>
  <ul class="flex-grow overflow-y-auto">
      {% for notification in notifications %}
        <li class="notification-item hover:bg-gray-200 w-full rounded-md p-2">
          {% if notification.sender_type == 'PurchaseOrder' %}
            <a href="{% url 'purchase_orders:index' %}?select={{ notification.sender_state }}"
              hx-get="{% url 'users:mark_as_read' notification.id %}"
              hx-target="this"
              hx-swap="outerHTML"
              class="cursor-pointer">
          {% elif notification.sender_type == 'GoodsReceipt' %}
            <a href="{% url 'goods_receipts:index' %}?select={{ notification.sender_state }}"
              hx-get="{% url 'users:mark_as_read' notification.id %}"
              hx-target="this"
              hx-swap="outerHTML"
              class="cursor-pointer">

          {% endif %}
            <div class="flex justify-between text-sm">
                <p>{{ notification.created_at|date:"y/m/d H:i" }}</p>
                {% if not notification.is_read %}
                  <span class="text-red-500">(未讀)</span>
                {% endif %}
              </div>
              <div class="flex flex-col font-bold text-sm">
                <p>{{ notification.message }}</p>
            </div>
          </a>
        </li>
      {% empty %}
        <li class="text-center text-gray-500">沒有通知</li>
      {% endfor %}
  </ul>
  <div class="mt-2 w-full flex bg-gray-200 rounded-md p-2 hover:bg-gray-300">
    <a href="{% url 'users:all_notifications' %}" class="flex justify-center w-full font-bold rounded-md py-2 text-sm">查看其他通知</a>
  </div>
</div>
