{% extends "layouts/base.html" %}

{% block content %}
  <section class="max-w-sm border-2 border-double border-gray-400 shadow-sm card mt-10 mx-auto p-5">

    <!-- 表單內容 -->
    <div class="flex justify-center flex-col items-center">
      <h2 class="text-2xl font-bold mb-5">註冊</h2>
      <form method="post" action="{% url 'users:register' %}" class="w-full">
        {% csrf_token %}
        {% for field in user_form %}
          <div class="mb-1">
            <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2 px-1">
              {{ field.label }}
              <span class="text-red-500">*</span>
            </label>
            {{ field }}
            <div class="flex flex-col px-1 py-2">
              {% if field.help_text %}
                <p class="text-gray-500 text-sm">{{ field.help_text }}</p>
              {% endif %}
              {% if field.errors %}
                {% for e in field.errors %}
                  <span class="text-red-500 text-sm">{{ e }}</span>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div
          class="flex flex-col items-center justify-center gap-2 text-sm w-full mt-5"
        >
          <button type="submit" class="log_in-btn w-full text-white bg-black mx-auto">註冊</button>
          <span class="text-gray-500 text-sm">或</span>
          <a class="log_in-btn w-full text-white bg-black mx-auto" href="{% url 'users:log_in' %}">直接登入</a>
        </div>
      </form>
    </div>
  </section>
{% endblock %}