{% extends "layouts/base.html" %}

{% block content %}

<section class="max-w-sm border-2 border-double border-gray-400 shadow-sm card mt-10 mx-auto p-5">
    <h2 class="text-2xl font-bold mb-5 text-center">重設密碼</h2>
    <form method="POST" action="{% url 'users:reset_password' %}" class="log_in-card-back-form">
        {% csrf_token %}
        <div class="log_in-form-item text-sm mt-2 gap-2">
            <label for="username" class="label display justify-start w-[60px]">帳號</label>
            <input type="text" name="username" class="form-control input input-bordered" placeholder="請輸入您的帳號">
        </div>
        <div class="log_in-form-item text-sm mt-2 gap-2">
            <label for="password" class="label display justify-start text-sm">新密碼</label>
            <input type="password" name="password" class="form-control input input-bordered" placeholder="請輸入您的新密碼">
        </div>
        <div class="log_in-form-item text-sm mt-2 gap-2">
            <label for="password_confirm" class="label display justify-start text-sm">確認密碼</label>
            <input type="password" name="password_confirm" class="form-control input input-bordered" placeholder="請再次輸入您的密碼">
        </div>
        <div class="text-red-500 text-sm mt-2">
            {% if error %} {{ error }} {% endif %}
        </div>
        <div class="flex flex-col items-center justify-center gap-2 text-sm w-full">
            <button type="submit" class="log_in-btn w-full text-white bg-black mx-auto mt-4">確認重設</button>
            <span class="text-gray-500 text-xs">OR</span>
            <a class="text-blue-500 text-sm" href="{% url 'users:log_in' %}">返回登入頁面</a>
        </div>
    </form>
</section>
{% endblock %}