{% extends "layouts/base.html" %}

{% block content %}

<section class="log_in-container">
    <div class="log_in-card">
        <div class="log_in-card-front">
            <h2>Reset Password</h2>
        </div>
        <div class="log_in-card-back">
        <form method="POST" action="{% url 'users:reset_password' %}" class="log_in-card-back-form">
            {% csrf_token %}
            <div>
                <label for="username" class="label display justify-start ">Username</label>
                <input type="text" name="username" class=" w-[280px] form-control input input-bordered" placeholder="Please enter your username.">
            </div>
            <div>
                <label for="password" class="label display justify-start ">New Password</label>
                <input type="password" name="password" class=" w-[280px] form-control input input-bordered" placeholder="Please enter your new password.">
            </div>
            <div>
                <label for="password_confirm" class="label display justify-start ">Confirm New Password</label>
                <input type="password" name="password_confirm" class=" w-[280px] form-control input input-bordered" placeholder="Please enter your password again.">
            </div>
            <div class="text-red-500 text-sm mt-2">
                {% if error %} {{ error }} {% endif %}
            </div>
            <button type="submit" class="w-[90px] mt-4 log_in-btn">Reset</button>
        </form>
        </div>
    </div>
</section>
{% endblock %}