{% extends "layouts/base.html" %} {% block content %}
<div class="flex justify-end mt-20">
  <a href="{% url 'orders:new' %}" class="btn bg-orange-600 text-white"
    >新增</a
  >
  <a href="#" class="btn bg-orange-600 text-white"
>匯入檔案</a
>
<a href="#" class="btn bg-orange-600 text-white">匯出CSV</a>
<a href="#" class="btn bg-orange-600 text-white">匯出Excel</a>
</div>
<div class="divider text-3xl font-bold">訂單列表</div>
<div class="flex justify-center mt-10">
  <div class="overflow-x-auto">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th>
            <form action="{% url 'orders:index' %}" method="GET">
              <select
                  class="select select-bordered select-sm w-25 max-w-xs md:w-auto"
                  name="select"
              >
                <option disabled>選擇</option>
                <option value="All" {% if selected_state == "All" %}selected{% endif %}>全部</option>
                <option value="finished" {% if selected_state == "finished" %}selected{% endif %}>完成</option>
                <option value="unfinish" {% if selected_state == "unfinish" %}selected{% endif %}>未完成</option>
              </select>

              <button type="submit" class="btn btn-square btn-sm">
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                      d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                  />
                </svg>
              </button>
            </form>
          </th>
          <th>
            <a href="{% url 'orders:index' %}?sort=id&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">序號{% if order_by == 'id' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a>
          </th>
          <th>
            <a href="{% url 'orders:index' %}?sort=code&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">編號{% if order_by == 'code' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a>
          </th>
          <th>
            <a href="{% url 'orders:index' %}?sort=client&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">客戶{% if order_by == 'client' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a>
          </th>
          <th>
            <a href="{% url 'orders:index' %}?sort=product&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">商品{% if order_by == 'product' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a>
          </th>
          <th>
            <a href="{% url 'orders:index' %}?sort=note&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">備註{% if order_by == 'note' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {% for order in orders %}
          <tr class="hover">
          {% if order.state == "finished" %}
          <td>
            <span class="btn btn-sm btn-success text-lg">{{ order.state }}</span>
          </td>
          {% else %}
          <td>
            <span class="btn btn-sm btn-error text-lg">{{ order.state }}</span>
          </td>
          {% endif %}
          <td>{{ order.id }}</td>
          <td>{{ order.code }}</td>
          <td>{{ order.client }}</td>
          <td>{{ order.product }}</td>
          <td>{{ order.note }}</td>
          <td class="flex justify-center gap-2">
            <a class="btn btn-sm btn-warning" href="{% url 'orders:edit' order.id %}">編輯</a>
            <form
              action="{% url 'orders:edit' order.id %}"
              method="post"
              onsubmit="return confirm('Are you sure Delete it?')"
            >
              {% csrf_token %}
              <button class="btn btn-sm btn-error" name="delete">刪除</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination join flex justify-center">
      <span class="step-links">
        <a href="?page=1"><button class="join-item btn">Page 1</button></a>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"
          ><button class="join-item btn">«</button></a
        >
        {% else %}
        <button class="join-item btn" disabled="disabled">«</button>
        {% endif %}
        <button class="join-item btn">Page {{ page_obj.number }}</button>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"
          ><button class="join-item btn">»</button></a
        >
        {% else %}
        <button class="join-item btn" disabled="disabled">»</button>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}"
          ><button class="join-item btn">
            Page {{ page_obj.paginator.num_pages }}
          </button></a
        >
      </span>
    </div>
  </div>
</div>
{% endblock %}
