{% extends "layouts/base.html" %} {% block content %}
<div class="flex justify-end mt-12">
  <a href="{% url 'orders:create' %}" class="btn bg-orange-600 text-white"
    >Create</a
  >
</div>
<div class="flex justify-center mt-10">
  <div class="overflow-x-auto">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th>ID</th>
          <th>Order Code</th>
          <th>Client</th>
          <th>Product</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr class="hover">
          <th>{{ order.id }}</th>
          <td>{{ order.code }}</td>
          <td>{{ order.client_fk }}</td>
          <td>{{ order.product_fk }}</td>
          <td>{{ order.note }}</td>
          <td>
            <a href="{% url 'orders:edit' order.id %}">Edit</a>
          </td>
          <td>
            <form
              action="{% url 'orders:edit' order.id %}"
              method="post"
              onsubmit="return confirm('Are you sure Delete it?')"
            >
              {% csrf_token %}
              <button name="delete">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}
