{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <style>
        .hidden {
            display: none;
        }
    </style>
    <div class="max-w-5xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-8">
        <div class="flex justify-between items-center p-4">
            <h2 class="text-2xl font-bold text-gray-800">Edit Purchase Order</h2>
            <div class="text-gray-700">
                <strong>Order Number: </strong><span id="order-number">{{ form.instance.order_number }}</span>
            </div>
        </div>

        <form action="{% url 'purchase_orders:show' purchase_order.id %}" method="POST" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {% csrf_token %}

            {% for field in form %}
            <div class="flex flex-col gap-2 p-4 border rounded-lg shadow-sm bg-white">
                <label for="{{ field.id_for_label }}" class="text-lg font-semibold text-gray-800">{{ field.label }}</label>
                <div>
                    {{ field }}
                </div>
                {% if field.errors %}
                <ul class="errorlist text-red-500 text-sm mt-2">
                  {% for error in field.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                {% endif %}
            </div>
            {% endfor %}


            <!-- 子表單 -->
            {{ formset.management_form }}
            <div class="col-span-full rounded-lg bg-white shadow-sm border p-4">
                <h2 class="text-2xl font-bold text-gray-800 text-center mb-4">Product Items</h2>

                <!-- 表頭 -->
                <div class="flex items-center justify-between p-4 gap-4 text-center border-b-2 border-gray-200 mb-4">
                    <span class="flex-1 text-lg font-semibold text-gray-800">Product</span>
                    <span class="flex-1 text-lg font-semibold text-gray-800">Quantity</span>
                    <span class="flex-1 text-lg font-semibold text-gray-800">Price</span>
                    <span class="flex-1 text-lg font-semibold text-gray-800">Subtotal</span>
                    <button type="button" id="add-item" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition">
                        Add an item
                    </button>
                </div>

                <!-- 表單子項目 -->
                <div id="formset-items">
                {% for form in formset %}
                    <fieldset class="p-4 pb-2   bg-gray-100 items-center">

                        <div class="flex items-center gap-4">
                            {{ form.id }} <!-- 隱藏的 ID 欄位 -->
                            <div class="flex-1">{{ form.product }}</div>
                            <div class="flex-1">{{ form.quantity }}</div>
                            <div class="flex-1">{{ form.price }}</div>
                            <div class="flex-1">{{ form.subtotal }}</div>
                            <div class="mx-4 text-center">
                                <span class="hidden">{{ form.DELETE }}</span>
                                <button type="button" class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 transition delete-item">
                                    Delete
                                </button>
                            </div>
                        </div>
                        <div class="mt-2 text-red-500">{{ form.non_field_errors }}</div>
                    </fieldset>
                {% endfor %}
                </div>
            </div>

            <!-- 新增按鈕 -->

            <div class="col-span-full">
                <button type="submit" class="w-full bg-orange-500 text-white py-3 rounded-md hover:bg-orange-600 transition">Save Changes</button>
            </div>
        </form>
    </div>
    <script src="{% static 'purchase_orders/edit.js' %}" defer></script>
{% endblock %}
