{% extends 'layouts/base.html' %}

{% block content %}
    <div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-8">
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Edit the Purchase Order</h2>
        <form action="{% url 'purchase_orders:show' purchase_order.id %}" method="POST" class="grid grid-cols-1 gap-6 md:grid-cols-2">
            {% csrf_token %}
            {% for field in form %}
            <div class="flex flex-col gap-2 p-4 border rounded-lg shadow-sm bg-white">
                <label for="{{ field.id_for_label }}" class="text-lg font-semibold text-gray-800">{{ field.label }}</label>
                <div>
                    {{ field }}
                </div>
                {% if field.errors %}
                <ul class="errorlist text-red-500 text-sm mt-2">
                  {% for error in field.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <div class="col-span-full">
                <button type="submit" class="w-full bg-orange-500 text-white py-3 rounded-md hover:bg-orange-600 transition">Edit</button>
            </div>
        </form>
    </div>
{% endblock %}
