{% extends 'layouts/base.html' %} {% block content %}
<div class="p-4 max-w-3xl mx-auto mt-8">
  <!-- Delete selected purchase orders button -->
  <form method="post" action="{% url 'purchase_orders:delete_selected' %}">
    {% csrf_token %}
    <!-- Add new purchase order button -->
    <div class="flex space-x-4 mb-6 justify-between">
      <a
        href="{% url 'purchase_orders:new' %}"
        class="inline-block rounded-lg bg-orange-500 text-white px-4 py-2 font-semibold shadow-lg hover:bg-orange-600 transition duration-300 ease-in-out transform hover:scale-105"
      >
        Add a New Purchase Order
      </a>
      <button
        type="submit"
        class="inline-block rounded-lg bg-red-500 text-white px-4 py-2 font-semibold shadow-lg hover:bg-red-600 transition duration-300 ease-in-out transform hover:scale-105"
      >
        Delete Selected Purchase Orders
      </button>
    </div>

    <!-- Purchase orders list -->
    <div class="space-y-4">
      {% for purchase_order in purchase_orders %}
      <div
        class="flex items-center justify-between p-6 bg-white shadow-lg rounded-xl hover:bg-gray-200 transition duration-300 ease-in-out"
      >
        <input
          type="checkbox"
          name="selected_purchase_orders"
          value="{{ purchase_order.id }}"
          class="mr-4 h-6 w-6 rounded border-gray-300 text-blue-600 focus:ring-blue-500"
        />

        <a
          href="{% url 'purchase_orders:show' purchase_order.id %}"
          class="text-lg font-bold text-gray-900 hover:text-blue-600 transition duration-300 ease-in-out"
        >
          PO {{ purchase_order.order_number }} - {{ purchase_order.supplier.name
          }}
        </a>
      </div>
      {% endfor %}
    </div>
  </form>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}
