{% extends "layouts/base.html" %} {% block content %}{% load static %}
<div class="flex justify-end mt-20">
  <a
    href="{% url 'goods_receipts:new' %}"
    class="btn bg-orange-600 text-white"
    >新增</a
  >
  <a href="#" class="btn bg-orange-600 text-white">匯入檔案</a>
  <a href="#" class="btn bg-orange-600 text-white">匯出CSV</a>
  <a href="#" class="btn bg-orange-600 text-white">匯出Excel</a>
</div>
<div class="divider text-3xl font-bold">進貨單列表</div>
<div class="flex justify-center mt-10">
    <div class="overflow-x-auto">
        <table class="table table-xl text-center">
            <thead>
                <tr class="text-xl">
                    <th>
                        <form action="{% url 'goods_receipts:index' %}" method="GET">
                            <select
                                class="select select-bordered select-sm w-25 max-w-xs md:w-auto"
                                name="select"
                            >
                                <option disabled>選擇</option>
                                <option value="All" {% if selected_state == "All" %}selected{% endif %}>全部</option>
                                <option value="finished" {% if selected_state == "finished" %}selected{% endif %}>已完成</option>
                                <option value="unfinish" {% if selected_state == "unfinish" %}selected{% endif %}>未完成</option>
                            </select>

                            <button type="submit" class="btn btn-square btn-sm">
                              <svg
                                class="w-5 h-5"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                              >
                                <path
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                                />
                              </svg>
                            </button>
                        </form>
                    </th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=receipt_number&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">進貨單號{% if order_by == 'receipt_number' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=supplier&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">供應商名稱{% if order_by == 'supplier' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=goods_name&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">貨品名稱{% if order_by == 'goods_name' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=quantity&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">數量{% if order_by == 'quantity' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=method&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">運送方式{% if order_by == 'method' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=date&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">日期{% if order_by == 'date' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=note&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">備註{% if order_by == 'note' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for goods_receipt in goods_receipts %}
                <tr onclick="window.location.href='{% url 'goods_receipts:show' goods_receipt.id %}'" class="hover">
                  {% if goods_receipt.state == "finish" %}
                  <th>
                    <span class="btn btn-sm btn-success text-lg">{{ goods_receipt.state }}</span>
                  </th>
                  {% elif goods_receipt.state == "unfinish" %}
                  <th>
                    <span class="btn btn-sm btn-error text-lg">{{ goods_receipt.state }}</span>
                  </th>
                  {% endif %}
                    <th>{{goods_receipt.receipt_number}}</th>
                    <th>{{goods_receipt.supplier}}</th>
                    <th>{{goods_receipt.goods_name}}</th>
                    <th>{{goods_receipt.quantity}}</th>
                    <th>{{goods_receipt.method}}</th>
                    <th>{{goods_receipt.date|date:"Y-m-d"}}</th>
                    <th>{{goods_receipt.note}}</th>
                    <th>
                        <div class="flex justify-center">
                            <div class="flex gap-2">
                                <a href="{% url 'goods_receipts:edit' goods_receipt.id %}" class="btn btn-primary">編輯</a>
                                <a onclick="return confirm('確認刪除?')" href="{% url 'goods_receipts:delete' goods_receipt.id %}" class="btn btn-error">刪除</a>
                            </div>
                        </div>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
        <div class="pagination join flex justify-center">
          <span class="step-links">
            <a href="?page=1{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"><button class="join-item btn">第1頁</button></a>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}">
            <button class="join-item btn">«</button></a>
            {% else %}
            <button class="join-item btn" disabled="disabled">«</button>
            {% endif %}
            <button class="join-item btn">{{ page_obj.number }}</button>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
            ><button class="join-item btn">»</button></a
            >
            {% else %}
            <button class="join-item btn" disabled="disabled">»</button>
            {% endif %}
            <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
            ><button class="join-item btn">
            第{{ page_obj.paginator.num_pages }}頁
            </button></a
            >
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
