{% extends "layouts/base.html" %} {% block content %}{% load static %}
<div class="flex justify-end mt-20 gap-2">
  <a
    href="{% url 'goods_receipts:new' %}"
    class="btn bg-orange-600 text-white hover:bg-orange-700"
    >新增</a
  >
  <button class="btn bg-orange-600 text-white hover:bg-orange-700" onclick="my_modal_1.showModal()">匯入檔案</button>

  <button class="btn bg-orange-600 text-white hover:bg-orange-700" onclick="my_modal_2.showModal()">匯出檔案</button>
</div>
<div class="divider text-3xl font-bold">進貨單列表</div>
<div class="flex justify-center mt-10">
    <div class="overflow-x-auto">
        <table class="table table-xl text-center">
            <thead>
                <tr class="text-xl">
                    <th>
                        <form action="{% url 'goods_receipts:index' %}" method="GET">
                          <select
                            class="select select-bordered select-sm w-25 max-w-xs md:w-auto"
                            name="select"
                          >
                          <option disabled>選擇</option>
                          <option value="All" {% if selected_state == "All" %}selected{% endif %}>全部</option>
                          <option value="finished" {% if selected_state == "finished" %}selected{% endif %}>已完成</option>
                          <option value="to_be_restocked" {% if selected_state == "to_be_restocked" %}selected{% endif %}>待進貨</option>
                          <option value="to_be_stocked" {% if selected_state == "to_be_stocked" %}selected{% endif %}>待入庫</option>
                          </select>
                          <button type="submit" class="btn btn-square btn-sm">
                              <svg
                                class="w-5 h-5"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                              >
                                <path
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                                />
                              </svg>
                            </button>
                        </form>
                    </th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=order_number&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">進貨單編號{% if order_by == 'order_number' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=supplier&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">供應商名稱{% if order_by == 'supplier' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=supplier_tel&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">供應商電話{% if order_by == 'supplier_tel' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=supplier_email&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">供應商Email{% if order_by == 'supplier_email' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=method&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">運送方式{% if order_by == 'receiving_method' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=amount&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">總金額{% if order_by == 'amount' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th></th>
                    <th><a href="{% url 'goods_receipts:index' %}?sort=note&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">備註{% if order_by == 'note' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th></th>
            </thead>
            <tbody>
                {% for goods_receipt in goods_receipts %}
                <tr onclick="window.location.href='{% url 'goods_receipts:show' goods_receipt.id %}'" class="hover">
                  {% if goods_receipt.state == "finished" %}
                  <th>
                    <span class="btn btn-sm btn-success text-lg">完成</span>
                  </th>
                  {% elif goods_receipt.state == "to_be_restocked" %}
                  <th>
                    <span class="btn btn-sm btn-error text-lg">待進貨</span>
                  </th>
                  {% elif goods_receipt.state == "to_be_stocked" %}
                  <th>
                    <span class="btn btn-sm btn-warning text-lg">待入庫</span>
                  </th>
                  {% endif %}
                  <!-- {% comment %} <input
                      type="checkbox"
                      name="selected_purchase_orders"
                      value="{{ purchase_order.id }}"
                      class="mr-4 h-6 w-6 rounded border-gray-300 text-blue-600 focus:ring-blue-500"
                    /> {% endcomment %} -->
                    <th>{{ goods_receipt.order_number }}</th>
                    <th>{{ goods_receipt.supplier.name }}</th>
                    <th>{{ goods_receipt.supplier_tel }}</th>
                    <th>{{ goods_receipt.supplier_email }}</th>
                    <th>{{ goods_receipt.amount }}</th>
                    <th>{{ goods_receipt.receiving_method }}</th>
                    <th>{{ goods_receipt.note }}</th>
                    <th>
                      <div class="flex justify-center gap-1">
                        <a href="{% url 'purchase_orders:edit' purchase_order.id %}" class="btn btn-primary">
                          編輯
                        </a>
                        <form action="{% url 'purchase_orders:delete' purchase_order.id %}" method="POST">
                            {% csrf_token %}
                            <button onclick="return confirm('確認刪除?')" type="submit" class="btn btn-error">
                                刪除
                            </button>
                        </form>
                    </div>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
        <div class="pagination join flex justify-center">
          <span class="step-links">
            <a href="?page=1{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"><button class="join-item btn">第1頁</button></a>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}">
            <button class="join-item btn">«</button></a>
            {% else %}
            <button class="join-item btn" disabled="disabled">«</button>
            {% endif %}
            <button class="join-item btn">{{ page_obj.number }}</button>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
            ><button class="join-item btn">»</button></a
            >
            {% else %}
            <button class="join-item btn" disabled="disabled">»</button>
            {% endif %}
            <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
            ><button class="join-item btn">
            第{{ page_obj.paginator.num_pages }}頁
            </button></a
            >
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% include "shared/import_export.html" %}
{% endblock %}
