{% extends "layouts/base.html" %} {% block content %} {% load static %}

<div class="flex justify-center mt-32">
  <div class="overflow-x-auto w-full">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th></th>
          <th>Product</th>
          <th>Supplier</th>
          <th>Quantity</th>
          <th>Safety Stock</th>
          <th>Note</th>
          <th>Operate</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover">
          <form
            class="text-center"
            method="POST"
            action="{% url 'inventory:create' %}"
          >
            {% csrf_token %}
            <th class="text-xl">Create<br />Inventory</th>
            <td>{{ form.product }}</td>
            <td>{{ form.supplier }}</td>
            <td>{{ form.quantity }}</td>
            <td>{{ form.safety_stock }}</td>
            <td>{{ form.note }}</td>
            <td>
              <button type="submit" class="btn bg-orange-600 text-white">
                Add
              </button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr />
{% endblock %}
