{% extends "layouts/base.html" %} {% block content %}

<div class="flex justify-center mt-32">
  <div class="overflow-x-auto w-full">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th></th>
          <th>Product Name</th>
          <th>Supplier Name</th>
          <th>Quantity</th>
          <th>Last Updated</th>
          <th>Safety Stock</th>
          <th>Operate</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover">
          <form
            class="text-center"
            method="POST"
            action="{% url 'inventory:create' %}"
          >
            {% csrf_token %}
            <th class="text-xl">Create<br />Inventory</th>
            <td>{{ form.product }}</td>
            <td>{{ form.supplier }}</td>
            <td>{{ form.quantity }}</td>
            <td>{{ form.last_updated }}</td>
            <td>{{ form.safety_stock }}</td>
            <td>
              <button type="submit" class="btn bg-orange-600 text-white">
                Add
              </button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="flex justify-center mt-10">
  <div class="overflow-x-auto w-full">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th></th>
          <th>Product Name</th>
          <th>Supplier Name</th>
          <th>Quantity</th>
          <th>Last Updated</th>
          <th>Safety Stock</th>
          <th>Operate</th>
        </tr>
      </thead>
      <tbody>
        {% for item in inventory %}
        <tr class="hover">
          <th>{{ item.id }}</th>
          <td>{{ item.product.title }}</td>
          <td>{{ item.supplier }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.last_updated }}</td>
          <td>{{ item.safety_stock }}</td>
          <td>
            <a
              onclick="my_modal_1.showModal()"
              href="{% url 'inventory:edit' item.id %}"
              class="btn btn-primary"
              >Edit</a
            >
            <a href="{% url 'inventory:delete' item.id %}" class="btn btn-error"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>product_name</th>
          <th>supplier_name</th>
          <th>quantity</th>
          <th>last_updated</th>
          <th>safety_stock</th>
          <th>operate</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endfor %} {% endblock %}
