{% extends "layouts/base.html" %} {% block content %}
<div class="flex justify-end mt-32">
  <a href="{% url 'inventory:create' %}" class="btn bg-orange-600 text-white"
    >Create</a
  >
</div>
<div class="flex justify-center">
  <div class="overflow-x-auto w-full">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th></th>
          <th>Product Name</th>
          <th>Supplier Name</th>
          <th>Quantity</th>
          <th>Last Updated</th>
          <th>Safety Stock</th>
          <th>Operate</th>
        </tr>
      </thead>
      <tbody>
        {% for item in inventory %}
        <tr class="hover">
          <th>{{ item.id }}</th>
          <td>{{ item.product.title }}</td>
          <td>{{ item.supplier }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.last_updated }}</td>
          <td>{{ item.safety_stock }}</td>
          <td>
            <a
              onclick="my_modal_1.showModal()"
              href="{% url 'inventory:edit' item.id %}"
              class="btn btn-primary"
              >Edit</a
            >
            <a href="{% url 'inventory:delete' item.id %}" class="btn btn-error"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>product_name</th>
          <th>supplier_name</th>
          <th>quantity</th>
          <th>last_updated</th>
          <th>safety_stock</th>
          <th>operate</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% include "pages/inventory_edit.html" %} {% endfor %} {% endblock %}
