{% extends "layouts/base.html" %} {% load static %}

{% block content %}

<a href="{% url 'company:index' %}" class="btn btn-primary">首頁</a>

<div>
    <p>公司代碼：{{company.company_id}}</p>
    <p>公司名稱：{{company.company_name}}</p>
    <p>統一編號：{{company.gui_number}}</p>
    <p>公司地址：{{company.address}}</p>
    <p>公司負責人：{{company.user}}</p>
    <!-- <p>{{company.created_at}}</p> -->
</div>

<div class="flex justify-start">
    <div>
        <a href="{% url 'company:edit' company.id %}" class="btn btn-primary">編輯</a>
        <a onclick="return confirm('確認刪除?')" href="{% url 'company:delete' company.id %}" class="btn btn-primary">刪除</a>
    </div>
</div>

{% endblock %}