{% extends "layouts/base.html" %} {% load static %}

{% block content %}

<a href="{% url 'company:index' %}">首頁</a>

<div>
    <p>{{company.company_id}}</p>
    <p>{{company.company_name}}</p>
    <p>{{company.gui_number}}</p>
    <p>{{company.address}}</p>
    <p>{{company.user}}</p>
    <!-- <p>{{company.created_at}}</p> -->
</div>

<div>
    <a href="{% url 'company:edit' company.id %}">編輯</a>
</div>

</div>
    <a onclick="return confirm('確認刪除?')" href="{% url 'company:delete' company.id %}">刪除</a>
</div>

{% endblock %}