{% extends "layouts/base.html" %} {% block content %}{% load static %}
<div class="flex justify-end mt-10 gap-2">
  <a href="{% url 'products:new' %}" class="btn bg-orange-600 text-white hover:bg-orange-700"
    >新增</a
  >
  <button class="btn bg-orange-600 text-white hover:bg-orange-700" onclick="my_modal_1.showModal()">匯入檔案</button>

  <button class="btn bg-orange-600 text-white hover:bg-orange-700" onclick="my_modal_2.showModal()">匯出檔案</button>
</div>
<div class="divider text-3xl font-bold">商品列表</div>
<div class="flex justify-center mt-10">
    <div class="overflow-x-auto w-full">
      <table class="table table-xl text-center">
        <thead>
          <tr class="text-xl text-center">
            <th>
              <form action="{% url 'products:index' %}" method="GET">
              <select
                class="select select-bordered select-sm w-25 max-w-xs md:w-auto"
                name="select"
              >
                <option disabled>Select</option>
                <option value="All" {% if selected_state == "All" %}selected{% endif %}>全部</option>
                <option value="often" {% if selected_state == "often" %}selected{% endif %}>經常購買</option>
                <option value="haply" {% if selected_state == "haply" %}selected{% endif %}>偶爾購買</option>
                <option value="never" {% if selected_state == "never" %}selected{% endif %}>未購買</option>
              </select>
              <input type="hidden" name="page" value="{{ page_obj.number }}">
              <button type="submit" class="btn btn-square btn-sm">
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                  />
                </svg>
              </button>
            </form>
            </th>
            <th><a href="{% url 'products:index' %}?sort=number&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">商品編號{% if order_by == 'number' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
            <th><a href="{% url 'products:index' %}?sort=product_name&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">商品名稱{% if order_by == 'product_name' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
            <th><a href="{% url 'products:index' %}?sort=supplier&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">供應商名稱{% if order_by == 'supplier' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
            <th><a href="{% url 'products:index' %}?sort=note&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">備註{% if order_by == 'note' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
            <th><a href="{% url 'products:index' %}?sort=updated_at&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">更新時間{% if order_by == 'updated_at' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr onclick="window.location.href='{% url 'products:show' product.id %}'" class="hover cursor-pointer">
            {% if product.state == "often" %}
            <th>
              <span class="btn btn-sm btn-success text-lg">經常購買</span>
            </th>
            {% elif product.state == "haply" %}
            <th>
              <span class="btn btn-sm btn-warning text-lg">偶爾購買</span>
            </th>
            {% elif product.state == "never" %}
            <th>
              <span class="btn btn-sm btn-error text-lg">未購買</span>
            </th>
            {% endif %}
            <th>{{product.number}}</th>
            <th>{{product.product_name}}</th>
            <th>{{product.supplier}}</th>
            <th>{{product.note}}</th>
            <th>{{product.updated_at|date:"Y-m-d H:i"}}</th>
            <th>
              <div class="flex justify-center">
                <div>
                  <a
                    href="{% url 'products:edit' product.id %}"
                    class="btn btn-primary"
                  >
                    編輯
                  </a>
                  <a onclick="return confirm('確認刪除?')" href="{% url 'products:delete' product.id %}" class="btn btn-error"
                    >刪除</a
                  >
                </div>
              </div>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination join flex justify-center">
        {% if page_obj.has_other_pages %}
        <span class="step-links">

          <a href="?page=1{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
            ><button class="join-item btn">第1頁</button></a
          >
          {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
            ><button class="join-item btn" >«</button></a
          >
          {% else %}
          <button class="join-item btn" disabled="disabled">«</button>
          {% endif %}
          <button class="join-item btn">
            第{{ page_obj.number }}頁
          </button>
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
            ><button class="join-item btn">»</button></a
          >
          {% else %}
          <button class="join-item btn" disabled="disabled">»</button>
          {% endif %}
          <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
            ><button class="join-item btn">第{{ page_obj.paginator.num_pages }}頁</button></a
          >
        </span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% url 'products:export_sample' as urlExmportSample %}
{% url 'products:import_file' as import_file_url %}
{% url 'products:export_excel' as export_excel_url %}

{% include "shared/import_export.html" with urlExmportSample=urlExmportSample urlImport=import_file_url urlExcel=export_excel_url %}
{% endblock %}
