{% extends "layouts/base.html" %}
{% block content %} {% load static %}
<div class="flex justify-end mt-20">
  <a href="{% url 'sales_orders:new' %}" class="btn bg-orange-600 text-white"
    >新增</a
  >
  <a href="{% url 'sales_orders:import_file' %}" class="btn bg-orange-600 text-white">匯入檔案</a
>
<a href="{% url 'sales_orders:export_csv' %}" class="btn bg-orange-600 text-white">匯出CSV</a>
<a href="{% url 'sales_orders:export_excel' %}" class="btn bg-orange-600 text-white">匯出Excel</a>
</div>
<div class="divider text-3xl font-bold">銷售單列表</div>
<div class="flex justify-center mt-10">
  <div class="overflow-x-auto w-full">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl text-center">
          <th>
            <form action="{% url 'sales_orders:index' %}" method="GET">
              <select
                class="select select-bordered select-sm w-25 max-w-xs md:w-auto"
                name="select"
              >
                <option disabled>選擇</option>
                <option value="All" {% if selected_state == "All" %}selected{% endif %}>全部</option>
                <option value="finished" {% if selected_state == "finished" %}selected{% endif %}>完成</option>
                <option value="unfinish" {% if selected_state == "unfinish" %}selected{% endif %}>未完成</option>
              </select>

              <button type="submit" class="btn btn-square btn-sm">
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                  />
                </svg>
              </button>
            </form>
          </th>
          <th><a href="{% url 'sales_orders:index' %}?sort=client&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">客戶名稱{% if order_by == 'client' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th><a href="{% url 'sales_orders:index' %}?sort=product&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">產品名稱{% if order_by == 'product' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th><a href="{% url 'sales_orders:index' %}?sort=quantity&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">數量{% if order_by == 'quantity' %} {{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
          <th><a href="{% url 'sales_orders:index' %}?sort=stock&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">庫存{% if order_by == 'stock' %}{{ is_desc|yesno:" ▲, ▼" }}{% endif %}</a></th>
          <th><a href="{% url 'sales_orders:index' %}?sort=price&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">價格{% if order_by == 'price' %}{{ is_desc|yesno:" ▲, ▼" }}{% endif %}</a></th>
          <th><a href="{% url 'sales_orders:index' %}?sort=last_updated&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">最後更新{% if order_by == 'last_updated' %}{{ is_desc|yesno:" ▲, ▼" }}{% endif %}</a></th>
          <th></th>
        </tr>
      </thead>
      {% for item in sales_orders %}
      <tbody>
        <tr class="hover">
          {% if item.state == "normal" %}
          <th>
            <span class="btn btn-sm btn-success text-lg">{{ item.state }}</span>
          </th>
          {% else %}
          <th>
            <span class="btn btn-sm btn-error text-lg">{{ item.state }}</span>
          </th>
          {% endif %}
          <td>{{ item.client }}</td>
          <td>{{ item.product }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.stock }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.last_updated|date:"Y-m-d H:i" }}</td>
          <td>
            <a
              href="{% url 'sales_orders:edit' item.id %}"
              class="btn btn-primary"
            >
              編輯
            </a>
            <a onclick="return confirm('確認刪除?')" href="{% url 'sales_orders:delete' item.id %}" class="btn btn-error"
              >刪除</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}
    <div class="pagination join flex justify-center">
      <span class="step-links">
        <a href="?page=1{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"><button class="join-item btn">第1頁</button></a>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn">«</button></a
        >
        {% else %}
        <button class="join-item btn" disabled="disabled">«</button>
        {% endif %}
        <button class="join-item btn">第{{ page_obj.number }}頁</button>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn">»</button></a
        >
        {% else %}
        <button class="join-item btn" disabled="disabled">»</button>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
          ><button class="join-item btn">
            第{{ page_obj.paginator.num_pages }}頁
          </button></a
        >
      </span>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
