{% extends "layouts/base.html" %} {% block content %} {% load static %}

<div class="flex justify-center mt-32">
  <div class="overflow-x-auto w-full">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th></th>
          <th>客戶名稱</th>
          <th>商品名稱</th>
          <th>數量</th>
          <th>庫存</th>
          <th>價格</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover">
          <form
            class="text-center"
            method="POST"
            action="{% url 'sales_orders:new' %}"
          >
            {% csrf_token %}
            <th class="text-xl">新增</th>
            <td>{{ form.client }}</td>
            <td>{{ form.product }}</td>
            <td>{{ form.quantity }}</td>
            <td>{{ form.stock }}</td>
            <td>{{ form.price }}</td>
            <td>
              <button type="submit" class="btn bg-orange-600 text-white">
                新增
              </button>
            </td>
          </form>
        </tr>
        <tr class="hover">
          <th></th>
          {% for field in form %}
          <td>
            {% if field.errors %}
              <ul class="errorlist text-red-500 text-sm mt-2">
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
            {% endif %}
          </td>
          {% endfor %}
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
