input::placeholder{
    font-size: 14px;
}
/* 登入頁面卡片 */
.log_in-container {
    position: absolute;
    width: 380px;
    height: 380px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
}

.log_in-card {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.log_in-card:hover{
    transform: rotateY(180deg);
}

.log_in-card-front,.log_in-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    backface-visibility: hidden; /* 隱藏背面 */
    overflow: hidden;
}

.log_in-card-front {
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    background-color: #e7e3e3;

}

.log_in-card-front h2 {
    font-size: 38px;
    margin: 0;
}

.log_in-card-back {
    background: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);
    padding: 15px;
}

.log_in-card-back-form {
    width: 85%;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log_in-form-item{
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin: 4px 0; */
}

.log_in-form-item:nth-child(3){
    margin-bottom: 20px;
}

.log_in-form-item label{
    font-size: 16px;
    font-weight: 600;
    width: 80px;
}

.log_in-form-item input{
    border: dashed;
    border-radius: 5px;
    padding: 7px;
    width: 220px;
}

.log_in-form-item input:focus{
    outline: none;
}

.log_in-btn{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #000;
    /* width: 90px; */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}