{% extends "layouts/base.html" %} {% block content %} {% load static %}

<div class="flex justify-center mt-32">
  <div class="overflow-x-auto w-full">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th></th>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Supplier</th>
          <th>Note</th>
          <th>Operate</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover">
          <form
            class="text-center"
            method="POST"
            action="{% url 'products:new' %}"
          >
            {% csrf_token %}
            <th class="text-xl">Add<br />Product</th>
            <td>{{ form.product_id }}</td>
            <td>{{ form.product_name }}</td>
            <td>{{ form.price }}</td>
            <td>{{ form.supplier }}</td>
            <td>{{ form.note }}</td>
            <td>
              <button type="submit" class="btn bg-orange-600 text-white">
                Add
              </button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
