{% extends "layouts/base.html" %}

{% block content %}

<a href="{% url 'products:index' %}" class="btn btn-primary">Back to Products List</a>

<div class="flex justify-center mt-10">
    <div class="overflow-x-auto">
        <table class="table table-xl text-center">
            <thead>
                <tr class="text-xl">
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Supplier</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="hover">
                    <th>{{product.product_id}}</th>
                    <th>{{product.product_name}}</th>
                    <th>{{product.price}}</th>
                    <th>{{product.supplier}}</th>
                    <th>{{product.note}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="flex justify-center mt-10">
    <div>
        <a href="{% url 'products:edit' product.id %}" class="btn btn-primary">Edit</a>
    </div>

    <div>
        <a onclick="return confirm('DELETE?')" href="{% url 'products:delete' product.id %}" class="btn btn-primary">Delete</a>
    </div>
</div>

{% endblock %}