{% extends "layouts/base.html" %}

{% block content %}

<a href="{% url 'products:index' %}" class="btn btn-primary">回商品資料列表</a>

<div class="flex justify-center mt-10">
    <div class="overflow-x-auto">
        <table class="table table-xl text-center">
            <thead>
                <tr class="text-xl">
                    <th>品號</th>
                    <th>品名</th>
                    <th>價格</th>
                    <th>供應商</th>
                    <th>備註</th>
                </tr>
            </thead>
            <tbody>
                <tr class="hover">
                    <th>{{product.product_id}}</th>
                    <th>{{product.product_name}}</th>
                    <th>{{product.price}}</th>
                    <th>{{product.supplier}}</th>
                    <th>{{product.note}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="flex justify-center mt-10">
    <div>
        <a href="{% url 'products:edit' product.id %}" class="btn btn-primary">編輯</a>
    </div>

    <div>
        <a onclick="return confirm('確認刪除?')" href="{% url 'products:delete' product.id %}" class="btn btn-primary">刪除</a>
    </div>
</div>

{% endblock %}