<div class="navbar bg-base-100 shadow-xl rounded-box z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li>Clients</li>
        <ul class="p-2">
          <li><a href="{% url 'clients:index' %}">Overview</a></li>
          <li><a href="{% url 'orders:index' %}">Orders</a></li>
        </ul>
        <li>Products</li>
        <ul class="p-2">
          <li><a href="{% url 'products:index' %}">Overview</a></li>
        </ul>
        <li>Suppliers</li>
        <ul class="p-2">
          <li><a href="{% url 'suppliers:index' %}">Overview</a></li>
          <li>
            <a href="{% url 'purchase_orders:index' %}">Purchase Orders</a>
          </li>
        </ul>
        <li>Inventory</li>
        <ul class="p-2">
          <li><a href="{% url 'inventory:index' %}">Overview</a></li>
          <li>
            <a href="{% url 'goods_receipts:index' %}">Goods Receipts</a>
          </li>
          <li><a href="{% url 'sales_orders:index' %}">Sales Orders</a></li>
        </ul>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost text-2xl">TradeHub</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal gap-4">
      <li>
        <details name="dropdown">
          <summary>Clients</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a href="{% url 'clients:index' %}">Overview</a></li>
            <li><a href="{% url 'orders:index' %}">Orders</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details name="dropdown">
          <summary>Products</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a href="{% url 'products:index' %}">Overview</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details name="dropdown">
          <summary>Suppliers</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a href="{% url 'suppliers:index' %}">Overview</a></li>
            <li>
              <a href="{% url 'purchase_orders:index' %}">Purchase Orders</a>
            </li>
          </ul>
        </details>
      </li>
      <li>
        <details name="dropdown">
          <summary>Inventory</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a href="{% url 'inventory:index' %}">Overview</a></li>
            <li>
              <a href="{% url 'goods_receipts:index' %}">Goods Receipts</a>
            </li>
            <li><a href="{% url 'sales_orders:index' %}">Sales Orders</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <!-- user status -->
  <div class="navbar-end">
    <div class="flex gap-6 w-[180px]">
      <!-- request.user 是 django 的內建變數，表示當前登入的使用者 -->
      {% if request.user.is_authenticated %}
      <a
        href="{% url 'users:profile' user.id %}"
        class="w-[85px] flex justify-center"
        >{{ request.user.username }}</a
      >
      <form
        action="{% url 'users:log_out' %}"
        method="post"
        class="w-[85px] flex justify-center"
      >
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
      {% else %}
      <a href="{% url 'users:register' %}" class="w-[85px] flex justify-center"
        >Sign Up</a
      >
      <a href="{% url 'users:log_in' %}" class="w-[85px] flex justify-center"
        >Log In</a
      >
      {% endif %}
    </div>
  </div>
</div>
