{% load static %}
<div
  class="navbar bg-base-100 shadow-md rounded-box z-50 fixed top-0 left-0 right-0"
>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>

      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li>客戶</li>
        <ul class="p-2">
          <li><a href="{% url 'clients:index' %}">客戶列表</a></li>
          <li><a href="{% url 'orders:index' %}">訂購單</a></li>
        </ul>
        <li>商品</li>
        <ul class="p-2">
          <li><a href="{% url 'products:index' %}">商品列表</a></li>
        </ul>
        <li>供應商</li>
        <ul class="p-2">
          <li><a href="{% url 'suppliers:index' %}">供應商列表</a></li>
          <li>
            <a href="{% url 'purchase_orders:index' %}">採購單</a>
          </li>
        </ul>
        <li>庫存</li>
        <ul class="p-2">
          <li><a href="{% url 'inventory:index' %}">庫存列表</a></li>
          <li>
            <a href="{% url 'goods_receipts:index' %}">進貨單</a>
          </li>
          <li><a href="{% url 'sales_orders:index' %}">銷貨單</a></li>
        </ul>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost text-2xl">TradeHub</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal gap-x-5 font-bold text-md">
      <li>
        {% if request.user.is_authenticated %}
        <details name="dropdown">
          <summary>客戶</summary>
          <ul class="bg-base-100 rounded-t-none w-[120px]">
            <li><a href="{% url 'clients:index' %}">客戶列表</a></li>
            <li><a href="{% url 'orders:index' %}">訂購單</a></li>
          </ul>
        </details>
        {% endif %}
      </li>
      <li>
        {% if request.user.is_authenticated %}
        <details name="dropdown">
          <summary>商品</summary>
          <ul class="bg-base-100 rounded-t-none w-[120px]">
            <li><a href="{% url 'products:index' %}">商品列表</a></li>
          </ul>
        </details>
        {% endif %}
      </li>
      <li>
        {% if request.user.is_authenticated %}
        <details name="dropdown">
          <summary>供應商</summary>
          <ul class="bg-base-100 rounded-t-none w-[120px]">
            <li><a href="{% url 'suppliers:index' %}">供應商列表</a></li>
            <li>
              <a href="{% url 'purchase_orders:index' %}">採購單</a>
            </li>
          </ul>
        </details>
        {% endif %}
      </li>
      <li>
        {% if request.user.is_authenticated %}
        <details name="dropdown">
          <summary>庫存</summary>
          <ul class="bg-base-100 rounded-t-none w-[120px]">
            <li><a href="{% url 'inventory:index' %}">庫存列表</a></li>
            <li>
              <a href="{% url 'goods_receipts:index' %}">進貨單</a>
            </li>
            <li><a href="{% url 'sales_orders:index' %}">銷貨單</a></li>
          </ul>
        </details>
        {% endif %}
      </li>
    </ul>
  </div>
  <div x-data="{ focusSearch: false }" class="navbar-end">
    {% if request.user.is_authenticated %}
    <div class="hidden lg:flex join">
      <select class="select select-bordered max-w-xs join-item">
        <option disabled selected>分類</option>
        <option>客戶</option>
        <option>商品</option>
        <option>供應商</option>
        <option>庫存</option>
      </select>
      <label
        @keydown.window="if (($event.ctrlKey || $event.metaKey) && $event.key === 'k'){ $event.preventDefault();$refs.searchInput.focus(); }"
        class="input input-bordered flex items-center join-item"
      >
        <input
          type="text"
          x-ref="searchInput"
          class="grow"
          name="search"
          placeholder="Search"
        />
        <kbd class="kbd kbd-sm">⌘</kbd>
        <kbd class="kbd kbd-sm">K</kbd>
      </label>
      {% endif %}
    </div>
    <!-- 小鈴鐺通知，登入後才會看到 -->
    {% if request.user.is_authenticated %}
    <div class="dropdown relative" x-data="{ isOpen: false }" @click.away="isOpen = false">
        <button href="javascript:void(0);" class="btn btn-ghost"
            @click="isOpen = !isOpen; if (isOpen) { htmx.ajax('GET', '{% url 'users:notifications' %}', {target: '#notifications-container', swap: 'innerHTML'}); }">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-bell">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3" />
                <path d="M18 8a2 2 0 0 1 1.84 2.795l-1.34 5.365a2 2 0 0 1 -1.9 1.57h-6.842a2 2 0 0 1 -1.9 -1.57l-1.34 -5.365a2 2 0 0 1 1.84 -2.795" />
                <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
            </svg>
        </button>
        <div id="notifications-container"
             class="w-[220px] p-2 bg-base-100 rounded-box shadow-md overflow-y-auto absolute z-50"
             x-show="isOpen"
             style="display: none;">
             <!-- 通知內容在這裡加載 -->
        </div>
    </div>
{% endif %}

    <!-- 使用者狀態-->
    <div class="flex">
      {% if request.user.is_authenticated %} {% if request.user.first_name %}
      <a
        href="{% url 'users:profile' user.id %}"
        class="w-[85px] flex justify-center"
        >{{ request.user.first_name }}</a
      >
      {% else %}
      <a
        href="{% url 'users:profile' user.id %}"
        class="w-[100px] flex justify-center text-lg font-bold"
        >{{ request.user.username }}</a
      >
      {% endif %}
      <form
        action="{% url 'users:log_out' %}"
        method="post"
        class="w-[85px] flex justify-center"
      >
        {% csrf_token %}
        <button type="submit">登出</button>
      </form>
      {% else %}
      <a href="{% url 'users:register' %}" class="w-[85px] flex justify-center"
        >註冊</a
      >
      <a href="{% url 'users:log_in' %}" class="w-[85px] flex justify-center"
        >登入</a
      >
      {% endif %}
    </div>
  </div>
</div>
