{% extends "layouts/base.html" %} {% block content %}
<div class="flex justify-center mt-10">
  <div class="overflow-x-auto">
    <table class="table table-xl text-center">
      <thead>
        <tr class="text-xl">
          <th>ID</th>
          <th>Client Name</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Email</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover">
          <form action="{% url 'client:edit' client.id %}" method="post">
            {% csrf_token %}
            <th>ID Auto gen</th>
            <td>
              <input
                type="text"
                name="client_name"
                value="{{client.name}}"
                required
              />
            </td>
            <td>
              <input
                type="tel"
                name="phone_number"
                value="{{client.phone_number}}"
                required
              />
            </td>
            <td>
              <input
                type="text"
                name="address"
                value="{{client.address}}"
                required
              />
            </td>
            <td>
              <input
                type="text"
                name="email"
                value="{{client.email}}"
                required
              />
            </td>
            <td><input type="text" name="note" value="{{client.note}}" /></td>
            <td>
              <button>Update</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
