{% extends 'layouts/base.html' %}

{% block content %}
<div class="flex justify-end mt-20">
    <a href="{% url 'suppliers:new' %}" class="btn bg-orange-600 text-white"
    >Create</a
  >
  <a href="#" class="btn bg-orange-600 text-white"
>Import file</a
>
<a href="#" class="btn bg-orange-600 text-white">Export CSV</a>
<a href="#" class="btn bg-orange-600 text-white">Export Excel</a>
</div>
<div class="divider text-3xl font-bold">Suppliers</div>

<div class="flex justify-center mt-10">
    <div class="overflow-x-auto">
        <table class="table table-xl text-center">
            <thead>
                <tr class="text-xl">
                    <th>
                      <form action="{% url 'suppliers:index' %}" method="GET">
                        <select
                          class="select select-bordered select-sm w-25 max-w-xs md:w-auto"
                          name="select"
                        >
                          <option disabled>Select</option>
                          <option value="All" {% if selected_state == "All" %}selected{% endif %}>All</option>
                          <option value="often" {% if selected_state == "often" %}selected{% endif %}>Often</option>
                          <option value="haply" {% if selected_state == "haply" %}selected{% endif %}>Haply</option>
                          <option value="never" {% if selected_state == "never" %}selected{% endif %}>Never</option>
                        </select>

                        <button type="submit" class="btn btn-square btn-sm">
                          <svg
                            class="w-5 h-5"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                          >
                            <path
                              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                            />
                          </svg>
                        </button>
                      </form>
                    </th>
                    <th><a href="{% url 'suppliers:index' %}?sort=name&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Supplier{% if order_by == 'name' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'suppliers:index' %}?sort=telephone&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Phone{% if order_by == 'telephone' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'suppliers:index' %}?sort=contact_person&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Contact Person{% if order_by == 'contact_person' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'suppliers:index' %}?sort=gui_number&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">GUI Number{% if order_by == 'gui_number' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'suppliers:index' %}?sort=address&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Address{% if order_by == 'address' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th><a href="{% url 'suppliers:index' %}?sort=note&select={{ selected_state }}&desc={{ is_desc }}&page={{ page_obj.number }}">Note{% if order_by == 'note' %}{{ is_desc|yesno:' ▲, ▼' }}{% endif %}</a></th>
                    <th>Operate</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                <tr onclick="window.location.href='{% url 'suppliers:show' supplier.id %}'" class="hover">
                    {% if supplier.state == "often" %}
                    <th>
                      <span class="btn btn-sm btn-success text-lg">{{ supplier.state }}</span>
                    </th>
                    {% elif supplier.state == "haply" %}
                    <th>
                      <span class="btn btn-sm btn-warning text-lg">{{ supplier.state }}</span>
                    </th>
                    {% else %}
                    <th>
                      <span class="btn btn-sm btn-error text-lg">{{ supplier.state }}</span>
                    </th>
                    {% endif %}
                    {% comment %} <th>
                        <input type="checkbox" name="selected_suppliers" value="{{ supplier.id }}" class="mr-4 h-6 w-6 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                    </th> {% endcomment %}
                    <th>{{ supplier.name }}</th>
                    <th>{{ supplier.telephone }}</th>
                    <th>{{ supplier.contact_person }}</th>
                    <th>{{ supplier.gui_number }}</th>
                    <th>{{ supplier.address }}</th>
                    <th>{{ supplier.note }}</th>
                    <th>
                        <div class="flex gap-3">
                            <a href="{% url 'suppliers:edit' supplier.id %}" class="rounded-lg bg-green-500 text-white px-4 py-2 font-semibold shadow-md hover:bg-green-600 transition duration-300 ease-in-out transform hover:scale-105">
                                Edit
                            </a>
                            <form action="{% url 'suppliers:delete' supplier.id %}" method="POST" class="inline-block">
                                {% csrf_token %}
                                <button type="submit" class="rounded-lg bg-red-500 text-white px-4 py-2 font-semibold shadow-md hover:bg-red-600 transition duration-300 ease-in-out transform hover:scale-105">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination join flex justify-center">
          <span class="step-links">

            <a href="?page=1{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
              ><button class="join-item btn">Page 1</button></a
            >
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
              ><button class="join-item btn" >«</button></a
            >
            {% else %}
            <button class="join-item btn" disabled="disabled">«</button>
            {% endif %}
            <button class="join-item btn">
              Page {{ page_obj.number }}
            </button>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
              ><button class="join-item btn">»</button></a
            >
            {% else %}
            <button class="join-item btn" disabled="disabled">»</button>
            {% endif %}
            <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_state %}&select={{ selected_state }}{% endif %}{% if order_by %}&sort={{ order_by }}{% endif %}{% if is_desc %}&desc={{ is_desc }}{% endif %}"
              ><button class="join-item btn">Page {{ page_obj.paginator.num_pages }}</button></a
            >
          </span>
        </div>
    </div>
</div>

{% endblock %}
